<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <a class="navbar-brand h1 mb-0 logo" routerLink="/">Q</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="new-quote"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Submit new quote</a>
      </li>
    </ul>
  </div>
</nav>
